@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="description" content="سیستم حسابداری مارکت فاضلی">
	<meta name="keywords" content="حسابداری ، نرم افزار ، وب سایت">
	<meta name="author" content="عبدالجبار سروری">
	<title>سیستم حسابداری مارکت فاضلی | @ViewData["Title"]</title>
	<link rel="shortcut icon" href="~/Templet/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="~/Templet/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="~/Templet/bootstrap-extended.css">
	<link rel="stylesheet" type="text/css" href="~/Templet/components.css">
	<link rel="stylesheet" type="text/css" href="~/Templet/account-login.css">
</head>
<body class="vertical-layout 1-column blank-page blank-page">
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-header row">
			</div>
			<div class="content-body">
				<section id="account-login" class="flexbox-container">
					<div class="col-6 d-flex align-items-center justify-content-center">
						<h1>401</h1>
					</div>
					<div class="col-6 d-flex align-items-center justify-content-center">
						<h2>شما به این صفحه دسترسی ندارید !</h2>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>